Tekst wygenerowany w kontrolerze: {{ message }}
<hr/>

{% for user in users %}
    {% filter genderify(user.gender) %}
    <p>
        Drog{_I_A} {{ user.firstName|vocative|capitalize }}!<br/>
        Chcielibyśmy Cię poinformować, że zdobył{_ES_AS} {{ user.points }} {{ user.points|decline('punkt','punkty','punktów') }}!<br/>
    </p>
    <p>
        Pozdrawiamy,<br/>
        xyz
    </p>
    {% endfilter %}
    <hr/>
{% endfor %}

{% for number in numbers %}
    <p>
        {{ number|polishNumber }} &rarr;
        {{ number|numberInWords }} &rarr;
        {{ number|pln }}
    </p>
{% endfor %}
<hr/>

Jest {{ time|timeInWords }}.
<hr/>

{% for i in range(0,2) %}
    Tryb {{ i }}:<br/><br/>
    {% for timex in times %}
        {{ timex|date('H:i:s') }} → Jest {{ timex|timeInWords(i) }}. <br/>
    {% endfor %}
    <hr>
{% endfor %}

0048501123456 → {{ '0048501123456'|phone }}<br/>
48911234567 → {{ '+48911234567'|phone }}<br/>
0911234567 → {{ '0911234567'|phone }}<br/>
0202224 → {{ '0202224'|phone }}<br/>
001555123456 → {{ '001555123456'|phone }}<br/>
+69012345 → {{ '+69012345'|phone }}<br/>
<hr/>

{% for i in range(1,8) %}
    {{ commentators|listify(i) }}<br/>
{% endfor %}
{{ commentators|listify(0) }}<br/>
{{ ['A']|listify() }}<br/>
{{ ['A','B']|listify() }}<br/>
<hr/>

{% set desc = ['osoba skomentowała','osoby skomentowały','osób skomentowało','inne','innych','skomentował','skomentowali'] %}
{% for i in range(1,8) %}
    {{ commentators|listify(i, desc) }}<br/>
{% endfor %}
{{ commentators|listify(0, desc) }}<br/>
{{ ['A']|listify(0, desc) }}<br/>
{{ ['A','B']|listify(0, desc) }}<br/>
<hr/>

{% for relativeDate in relativeDates %}
    {{ relativeDate|date('Y-m-d H:i:s') }} → {{ relativeDate|relativeDate }}<br/>
{% endfor %}

<hr/>
{% for arabic in 1..100 %}
    {{ arabic|arabicToRoman }}<br/>
{% endfor %}